# Secrets
.env*
!.env.example

# Dependencies
node_modules
.venv

# Python
__pycache__/
*.pyc
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
!*.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
